<% /* Default layout for email templates */ %>
<div style="background-color: #FAFAFA;padding: 30px 30px;">
<div style="width:100%;">
<div style="display:<%= sails.config.custom.isHeader %>;background-color: #FAFAFA; width: 100%;
   box-sizing: border-box; padding-bottom: 25px; margin: 0;">
  <div style="background: transparent;   text-align: center;">
    <img style="width:100%;display: inline-block;  margin-left: auto; margin-right: auto;" alt="Logo" src="<%= sails.config.custom.logoUrll %>"/>
  </div>
  <div style="background-color: #fff; color: #000; font-size: 1.2em; border-top: 2px solid #933849; border-bottom: 1px solid #E6E6E6;
  box-sizing: border-box; padding: 25px;  margin-left: auto; margin-right: auto;font-family: 'Playfair Display'">

    <%- body %>

  </div>
  <div style="text-align: center; padding-top: 15px; margin-bottom: 15px; font-size: 12px;">
    <a style="color: #933849;" href="<%= sails.config.custom.blogUrl %>">Blog</a>
    <span style="color: #ccc;">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
    <a style="color: #933849;" href="<%= sails.config.custom.blogUrl %>">FAQ</a>
    <span style="color: #ccc;">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
    <a style="color: #933849;" href="<%= sails.config.custom.blogUrl %>">Terms of Service</a>
    <span style="color: #ccc;">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
    <a style="color: #933849;" href="<%= sails.config.custom.blogUrl %>">Privacy Policy</a>
  </div>
  <p style="color: #777777; padding: 0 25px; max-width: 400px; box-sizing: border-box; margin-left: auto; margin-right: auto; font-size: 10px; text-align: center;">Please do not reply to this email. To get in touch with us, visit our <a style="color: #00ACC4;" href="#"> help center.</a> If you have not signed up for an account with us, please disregard this message.</p>
</div></div>
<div  style="display:<%= sails.config.custom.needHeader %>;background-color: #fff; color: #000; font-size: 1.2em;  border-bottom: 1px solid #E6E6E6; box-sizing: border-box; padding: 15px; width: 100%; margin-left: auto; margin-right: auto;">

  <%- body %>

</div>
</div>
